@import url('./vendor/normalize.css');
@import url('./fonts/fonts.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/visually-hidden/visually-hidden.css');
@import url('./blocks/logo/logo.css');
@import url('./blocks/main/main.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar-overlay/profile__avatar-overlay.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/profile/__about/profile__about.css');
@import url('./blocks/profile/__button/profile__button.css');
@import url('./blocks/profile/__button/_action/profile__button_action_edit.css');
@import url('./blocks/profile/__button/_action/profile__button_action_add.css');
@import url('./blocks/profile/__button/_action/profile__button_action_avatar-change.css');
@import url('./blocks/button/button.css');
@import url('./blocks/button/_close/button_close.css');
@import url('./blocks/elements/elements.css');
@import url('./blocks/card/card.css');
@import url('./blocks/card/__container/card__container.css');
@import url('./blocks/card/__photo/card__photo.css');
@import url('./blocks/card/__delete/card__delete.css');
@import url('./blocks/card/__delete/_hidden/card__delete_hidden.css');
@import url('./blocks/card/__caption/card__caption.css');
@import url('./blocks/card/__like-block/card__like-block.css');
@import url('./blocks/card/__like/card__like.css');
@import url('./blocks/card/__counter/card__counter.css');
@import url('./blocks/card/__like/_active/card__like_active.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__button/popup__button.css');
@import url('./blocks/popup/__button/_close/popup__button_close.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container/_type/popup__container_type_delete.css');
@import url('./blocks/popup/__container/_type/popup__container_type_avatar.css');
@import url('./blocks/popup/__heading/popup__heading.css');
@import url('./blocks/popup/__input-container/popup__input-container.css');
@import url('./blocks/popup/__field/popup__field.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_type/popup__input_type_error.css');
@import url('./blocks/popup/__input-error/popup__input-error.css');
@import url('./blocks/popup/__input-error/_active/popup__input-error_active.css');
@import url('./blocks/popup/__button/_submit/popup__button_submit.css');
@import url('./blocks/popup/__button/_submit/_loading/popup__button_submit_loading.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/photo/photo.css');
@import url('./blocks/photo/__figure/photo__figure.css');
@import url('./blocks/photo/__close/photo__close.css');
@import url('./blocks/photo/__img/photo__img.css');
@import url('./blocks/photo/__caption/photo__caption.css');
